<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    <title>23-ПМ</title>
    {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'pm23/css/style.min.css' %}">

</head>
<body>
    
    <header class="header">
        <div class="header__inner _container">
            <h1 class="header__title">
                23-ПМ
                {% if request.path == '/shedule/' %}
                    <span>Расписание</span>
                {% endif %}
            </h1>
        </div>
    </header>
    <!-- / end of header -->

    <main class="content">
        {% block page_content %}
        {% endblock %}
    </main>
    <!-- / end of content -->

    <div class="scripts">
        {% block page_scripts %}
        {% endblock %}
    </div>
    <!-- / end of scripts -->

</body>
</html>